In [1]:
# Dependancies
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import citipy

In [2]:
#Loading Files
chicago_pop_zip_data_to_load = os.path.join("Resources","Chicago_Population_by_Zipcode_2020.csv" )
crime_zip_data_to_load = os.path.join("Resources", "Crime_zip.csv")

In [3]:
crime_zip_df = pd.read_csv(crime_zip_data_to_load, header=0, delim_whitespace=False)
crime_zip_df

,Unnamed: 0,Ward,ID,Date,Block,Primary Type,rankings,Latitude,Longitude,ZIP
0,0,1,11951206,1/9/2020 19:00,017XX W CHICAGO AVE,THEFT,3,41.896025,-87.670210,60626
1,1,1,11946902,1/9/2020 15:15,021XX N WESTERN AVE,THEFT,3,41.920451,-87.687502,60626
2,2,1,11947188,1/9/2020 16:00,020XX W LE MOYNE ST,CRIMINAL DAMAGE,4,41.908246,-87.678015,60626
3,3,1,11946892,1/9/2020 6:28,013XX N PAULINA ST,THEFT,3,41.906276,-87.670012,60626
4,4,1,11950110,1/9/2020 8:48,019XX W CRYSTAL ST,OTHER OFFENSE,3,41.904148,-87.675588,60626
...,...,...,...,...,...,...,...,...,...,...
110944,110944,50,12109215,7/17/2020 19:30,024XX W DEVON AVE,MOTOR VEHICLE THEFT,6,41.997706,-87.691427,60659
110945,110945,50,12114706,7/9/2020 18:00,064XX N MOZART ST,OTHER OFFENSE,3,NaN,NaN,60659
110946,110946,50,12112703,7/14/2020 15:12,064XX N ROCKWELL ST,THEFT,3,41.998194,-87.694785,60659
110947,110947,50,12112561,6/26/2020 17:30,063XX N TALMAN AVE,THEFT,3,41.996622,-87.695944,60659
110948,110948,50,12109943,7/17/2020 19:00,064XX N DAMEN AVE,THEFT,3,41.998348,-87.680152,60659

In [4]:
clean_crime_df = crime_zip_df[["Date","ZIP", "Primary Type", "rankings"]]
clean_crime_df

                   Date    ZIP         Primary Type  rankings
0        1/9/2020 19:00  60626                THEFT         3
1        1/9/2020 15:15  60626                THEFT         3
2        1/9/2020 16:00  60626      CRIMINAL DAMAGE         4
3         1/9/2020 6:28  60626                THEFT         3
4         1/9/2020 8:48  60626        OTHER OFFENSE         3
...                 ...    ...                  ...       ...
110944  7/17/2020 19:30  60659  MOTOR VEHICLE THEFT         6
110945   7/9/2020 18:00  60659        OTHER OFFENSE         3
110946  7/14/2020 15:12  60659                THEFT         3
110947  6/26/2020 17:30  60659                THEFT         3
110948  7/17/2020 19:00  60659                THEFT         3

[110949 rows x 4 columns]

In [5]:
clean_crime_df =clean_crime_df.rename(columns={"rankings": "crime_severity"})
clean_crime_df

                   Date    ZIP         Primary Type  crime_severity
0        1/9/2020 19:00  60626                THEFT               3
1        1/9/2020 15:15  60626                THEFT               3
2        1/9/2020 16:00  60626      CRIMINAL DAMAGE               4
3         1/9/2020 6:28  60626                THEFT               3
4         1/9/2020 8:48  60626        OTHER OFFENSE               3
...                 ...    ...                  ...             ...
110944  7/17/2020 19:30  60659  MOTOR VEHICLE THEFT               6
110945   7/9/2020 18:00  60659        OTHER OFFENSE               3
110946  7/14/2020 15:12  60659                THEFT               3
110947  6/26/2020 17:30  60659                THEFT               3
110948  7/17/2020 19:00  60659                THEFT               3

[110949 rows x 4 columns]

In [20]:
#write cleaned data to a .csv
clean_crime_df.to_csv('Resources/cleaned_crime.csv')

In [7]:
clean_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110949 entries, 0 to 110948
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            110949 non-null  object
 1   ZIP             110949 non-null  int64
 2   Primary Type    110949 non-null  object
 3   crime_severity  110949 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.4+ MB

In [8]:
clean_crime_df.nunique(dropna=False)

Date              58772
ZIP                  44
Primary Type         31
crime_severity        8
dtype: int64

In [9]:
crime_table = pd.pivot_table(clean_crime_df,values='crime_severity', index=['ZIP', 'Primary Type'],
                    aggfunc=np.sum)
crime_table

                                         crime_severity
ZIP   Primary Type
60601 ARSON                                          54
      ASSAULT                                      1011
      BATTERY                                      3297
      BURGLARY                                     1032
      CONCEALED CARRY LICENSE VIOLATION               1
...                                                 ...
60827 ROBBERY                                       249
      SEX OFFENSE                                    19
      STALKING                                        5
      THEFT                                        1758
      WEAPONS VIOLATION                              12

[1082 rows x 1 columns]

In [10]:
crime_table.reset_index()

        ZIP                       Primary Type  crime_severity
0     60601                              ARSON              54
1     60601                            ASSAULT            1011
2     60601                            BATTERY            3297
3     60601                           BURGLARY            1032
4     60601  CONCEALED CARRY LICENSE VIOLATION               1
...     ...                                ...             ...
1077  60827                            ROBBERY             249
1078  60827                        SEX OFFENSE              19
1079  60827                           STALKING               5
1080  60827                              THEFT            1758
1081  60827                  WEAPONS VIOLATION              12

[1082 rows x 3 columns]

In [11]:
# pivot table example with multiple aggregating functions
crime_table3_df = pd.pivot_table(clean_crime_df, values='crime_severity',
                    index='Primary Type',
                     columns='ZIP',
                     aggfunc='sum')
crime_table3_df

ZIP,60601,60602,60603,60604,60605,60606,60607,60608,60609,60611,...,60652,60653,60655,60657,60659,60660,60661,60666,60707,60827
Primary Type,,,,,,,,,,,,,,,,,,,,,
ARSON,54.0,120.0,NaN,6.0,60.0,NaN,60.0,174.0,36.0,6.0,...,NaN,72.0,6.0,48.0,NaN,48.0,36.0,24.0,30.0,18.0
ASSAULT,1011.0,945.0,160.0,236.0,1201.0,356.0,843.0,2009.0,874.0,177.0,...,263.0,1079.0,370.0,1129.0,306.0,893.0,331.0,337.0,392.0,173.0
BATTERY,3297.0,3426.0,518.0,929.0,3864.0,1172.0,2861.0,6333.0,2160.0,618.0,...,869.0,2999.0,1213.0,3431.0,760.0,2782.0,1047.0,705.0,992.0,593.0
BURGLARY,1032.0,1848.0,330.0,300.0,834.0,342.0,522.0,1284.0,630.0,198.0,...,354.0,1080.0,336.0,1074.0,414.0,600.0,258.0,210.0,336.0,408.0
CONCEALED CARRY LICENSE VIOLATION,1.0,1.0,2.0,NaN,3.0,1.0,1.0,9.0,1.0,NaN,...,NaN,1.0,NaN,3.0,NaN,2.0,NaN,NaN,NaN,2.0
CRIM SEXUAL ASSAULT,28.0,39.0,21.0,7.0,42.0,7.0,18.0,56.0,11.0,NaN,...,14.0,32.0,42.0,35.0,28.0,18.0,7.0,NaN,7.0,14.0
CRIMINAL DAMAGE,1912.0,2200.0,340.0,456.0,1900.0,608.0,1440.0,3092.0,1484.0,472.0,...,676.0,2000.0,1008.0,1940.0,560.0,1640.0,676.0,556.0,716.0,472.0
CRIMINAL SEXUAL ASSAULT,65.0,213.0,18.0,63.0,89.0,36.0,69.0,196.0,75.0,6.0,...,54.0,113.0,72.0,106.0,12.0,116.0,62.0,23.0,57.0,78.0
CRIMINAL TRESPASS,452.0,804.0,152.0,100.0,224.0,92.0,168.0,556.0,228.0,68.0,...,172.0,316.0,140.0,256.0,80.0,280.0,88.0,88.0,88.0,168.0
DECEPTIVE PRACTICE,884.0,2084.0,384.0,466.0,542.0,285.0,567.0,829.0,631.0,268.0,...,440.0,740.0,474.0,608.0,417.0,891.0,200.0,338.0,296.0,557.0
GAMBLING,3.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOMICIDE,176.0,96.0,NaN,8.0,144.0,8.0,136.0,312.0,136.0,8.0,...,16.0,168.0,24.0,152.0,8.0,56.0,NaN,16.0,16.0,NaN
HUMAN TRAFFICKING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INTERFERENCE WITH PUBLIC OFFICER,42.0,51.0,9.0,NaN,45.0,12.0,21.0,93.0,24.0,6.0,...,3.0,57.0,9.0,90.0,3.0,69.0,3.0,3.0,6.0,9.0
INTIMIDATION,4.0,15.0,4.0,NaN,4.0,4.0,6.0,30.0,15.0,NaN,...,NaN,NaN,3.0,11.0,4.0,NaN,4.0,4.0,4.0,14.0
KIDNAPPING,6.0,14.0,3.0,9.0,4.0,6.0,NaN,12.0,12.0,12.0,...,NaN,9.0,8.0,25.0,NaN,9.0,4.0,6.0,10.0,NaN
LIQUOR LAW VIOLATION,15.0,21.0,3.0,NaN,NaN,3.0,NaN,12.0,12.0,9.0,...,3.0,NaN,6.0,NaN,3.0,9.0,9.0,3.0,3.0,15.0
MOTOR VEHICLE THEFT,1308.0,1362.0,222.0,108.0,888.0,396.0,1026.0,1764.0,828.0,168.0,...,372.0,810.0,306.0,696.0,234.0,918.0,402.0,270.0,336.0,426.0
NARCOTICS,1680.0,560.0,56.0,40.0,364.0,224.0,296.0,3164.0,280.0,40.0,...,104.0,420.0,136.0,352.0,76.0,412.0,148.0,108.0,124.0,24.0
OBSCENITY,NaN,NaN,6.0,3.0,3.0,3.0,3.0,3.0,3.0,6.0,...,NaN,NaN,3.0,NaN,3.0,3.0,3.0,6.0,NaN,NaN
OFFENSE INVOLVING CHILDREN,123.0,78.0,93.0,12.0,185.0,79.0,80.0,275.0,114.0,41.0,...,24.0,169.0,79.0,142.0,60.0,137.0,53.0,102.0,50.0,6.0
OTHER NARCOTIC VIOLATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
OTHER OFFENSE,741.0,608.0,254.0,203.0,795.0,332.0,545.0,1102.0,597.0,267.0,...,212.0,670.0,322.0,700.0,184.0,710.0,259.0,258.0,251.0,145.0
PROSTITUTION,6.0,3.0,3.0,3.0,NaN,NaN,3.0,156.0,12.0,NaN,...,NaN,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
PUBLIC INDECENCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
PUBLIC PEACE VIOLATION,126.0,228.0,6.0,30.0,144.0,24.0,84.0,291.0,81.0,21.0,...,15.0,57.0,24.0,33.0,15.0,186.0,6.0,42.0,33.0,51.0
ROBBERY,991.0,1294.0,108.0,224.0,902.0,169.0,1039.0,2435.0,736.0,125.0,...,139.0,791.0,415.0,936.0,234.0,749.0,317.0,264.0,339.0,249.0
SEX OFFENSE,98.0,82.0,21.0,36.0,60.0,43.0,70.0,160.0,52.0,6.0,...,28.0,82.0,54.0,36.0,40.0,13.0,30.0,9.0,21.0,19.0
STALKING,15.0,14.0,5.0,8.0,20.0,NaN,8.0,15.0,7.0,NaN,...,11.0,17.0,9.0,4.0,4.0,12.0,NaN,5.0,13.0,5.0
THEFT,3237.0,6615.0,576.0,1146.0,1485.0,720.0,1239.0,3093.0,1731.0,483.0,...,1164.0,1902.0,1317.0,1488.0,888.0,1821.0,687.0,711.0,864.0,1758.0
WEAPONS VIOLATION,595.0,488.0,43.0,28.0,846.0,181.0,441.0,1616.0,574.0,38.0,...,24.0,673.0,59.0,465.0,35.0,496.0,134.0,143.0,144.0,12.0

In [12]:
crime_table2_df = pd.pivot_table(clean_crime_df,  index = 'ZIP', 
                   aggfunc= 'sum')

crime_table2_df

       crime_severity
ZIP
60601           17902
60602           23209
60603            3337
60604            4421
60605           14648
60606            5103
60607           11546
60608           29095
60609           11344
60611            3046
60612           14566
60614            4798
60615           15115
60616           18041
60618           23267
60621           13810
60622            4918
60624           15692
60625           10995
60626            7050
60628            4049
60630            4235
60631            3611
60633            5223
60636            6576
60638            3759
60639           13604
60641           18965
60642            5388
60643           10690
60644            6644
60645            6168
60647            4010
60651           14526
60652            4957
60653           14260
60655            6437
60657           13760
60659            4368
60660           12880
60661            4764
60666            4231
60707            5128
60827            5216

In [13]:
crime_table2_df.describe()

       crime_severity
count       44.000000
mean      9894.363636
std       6415.844602
min       3046.000000
25%       4789.500000
50%       6610.000000
75%      14326.500000
max      29095.000000

In [ ]:
crime_table2_df =crime_table2_df.rename_axis('index1').reset_index()
crime_table2_df

In [23]:
crime_table2_df.to.csv("Resources/crime_severity_summary.csv")

AttributeError: 'DataFrame' object has no attribute 'to'

In [15]:
# read in population/zip data into a df for merging
pop_zip_df = pd.read_csv(chicago_pop_zip_data_to_load, header=0, delim_whitespace=False)
pop_zip_df

,#,ZIP,Location,City,Population,People/Sq.Mile,National Rank
0,1,60626,"42.009340, -87.669902","Chicago, Illinois","59,251","34,520.21",#98
1,2,60660,"41.990561, -87.664706","Chicago, Illinois","47,726","34,193.05",#99
2,3,60640,"41.972347, -87.663982","Chicago, Illinois","74,030","32,103.29",#109
3,4,60657,"41.938964, -87.656811","Chicago, Illinois","66,789","31,204.02",#112
4,5,60610,"41.900034, -87.636967","Chicago, Illinois","47,513","30,110.68",#119
5,6,60613,"41.958302, -87.660698","Chicago, Illinois","50,548","25,857.54",#141
6,7,60647,"41.921117, -87.701899","Chicago, Illinois","98,769","25,372.11",#143
7,8,60625,"41.973081, -87.699751","Chicago, Illinois","91,351","23,681.91",#156
8,9,60614,"41.922667, -87.652537","Chicago, Illinois","65,474","20,838.01",#197
9,10,60651,"41.902029, -87.740432","Chicago, Illinois","77,583","20,738.60",#201
10,11,60659,"41.991923, -87.704608","Chicago, Illinois","39,155","19,859.02",#213
11,12,60639,"41.920639, -87.755793","Chicago, Illinois","92,951","19,854.06",#214
12,13,60618,"41.946755, -87.702861","Chicago, Illinois","98,147","19,640.92",#220
13,14,60623,"41.847079, -87.719446","Chicago, Illinois","108,144","19,007.22",#229
14,15,60615,"41.801502, -87.603332","Chicago, Illinois","45,096","18,936.31",#231
15,16,60645,"42.008406, -87.695793","Chicago, Illinois","44,197","18,576.05",#236
16,17,60641,"41.946466, -87.746971","Chicago, Illinois","73,824","18,163.14",#241
17,18,60649,"41.763484, -87.570411","Chicago, Illinois","54,823","17,870.96",#251
18,19,60611,"41.893024, -87.618998","Chicago, Illinois","26,522","17,783.87",#253
19,20,60622,"41.901894, -87.672630","Chicago, Illinois","76,015","17,489.00",#258
20,21,60601,"41.885805, -87.622911","Chicago, Illinois","5,591","17,101.15",#271
21,22,60644,"41.880614, -87.756903","Chicago, Illinois","59,059","16,705.95",#281
22,23,60653,"41.819722, -87.611809","Chicago, Illinois","34,502","15,629.38",#313
23,24,60661,"41.882458, -87.643946","Chicago, Illinois","4,382","15,455.28",#318
24,25,60629,"41.774690, -87.714185","Chicago, Illinois","113,984","15,212.28",#325
25,26,60608,"41.848647, -87.672320","Chicago, Illinois","92,472","14,180.66",#367
26,27,60616,"41.844977, -87.629846","Chicago, Illinois","47,073","13,948.12",#379
27,28,60636,"41.775708, -87.669011","Chicago, Illinois","51,451","13,581.48",#385
28,29,60624,"41.880048, -87.722352","Chicago, Illinois","45,647","13,574.16",#386
29,30,60637,"41.780673, -87.603500","Chicago, Illinois","57,090","13,045.69",#403
30,31,60621,"41.776404, -87.640058","Chicago, Illinois","47,514","12,891.83",#411
31,32,60632,"41.810213, -87.711761","Chicago, Illinois","87,577","12,507.78",#427
32,33,60619,"41.743383, -87.605811","Chicago, Illinois","74,963","11,991.80",#461
33,34,60620,"41.740481, -87.653749","Chicago, Illinois","85,771","11,439.03",#490
34,35,60630,"41.972071, -87.756569","Chicago, Illinois","54,781","11,213.53",#503
35,36,60634,"41.946189, -87.806117","Chicago, Illinois","74,164","10,611.96",#552
36,37,60609,"41.812680, -87.656935","Chicago, Illinois","79,469","10,286.83",#579
37,38,60612,"41.880500, -87.687967","Chicago, Illinois","37,990","10,195.72",#586
38,39,60652,"41.746234, -87.711953","Chicago, Illinois","39,126","8,425.81",#757
39,40,60628,"41.692200, -87.617859","Chicago, Illinois","87,827","8,286.36",#778
40,41,60643,"41.696894, -87.661375","Chicago, Illinois","52,568","7,845.03",#867
41,42,60631,"41.994948, -87.813225","Chicago, Illinois","28,832","7,754.38",#879
42,43,60656,"41.973544, -87.830234","Chicago, Illinois","27,129","7,590.96",#900
43,44,60617,"41.718172, -87.555846","Chicago, Illinois","96,288","7,168.75",#990
44,45,60655,"41.694722, -87.703687","Chicago, Illinois","29,138","6,541.10","#1,160"
45,46,60607,"41.874503, -87.651322","Chicago, Illinois","15,552","6,428.11","#1,194"
46,47,60606,"41.881988, -87.637329","Chicago, Illinois","1,682","6,140.44","#1,268"
47,48,60605,"41.857651, -87.615592","Chicago, Illinois","12,423","6,027.29","#1,305"
48,49,60646,"41.992931, -87.760278","Chicago, Illinois","27,016","5,741.46","#1,411"
49,50,60638,"41.783650, -87.770407","Chicago, Illinois","55,788","5,010.81","#1,712"
50,51,60603,"41.880614, -87.629311","Chicago, Illinois",378,"4,553.49","#1,983"
51,52,60633,"41.661941, -87.557757","Chicago, Illinois","13,262","1,102.54","#6,069"
52,53,60602,"41.883067, -87.629187","Chicago, Illinois",70,810.58,"#6,855"
53,54,60604,"41.878266, -87.626150","Chicago, Illinois",78,546.75,"#7,918"
54,55,60654,"41.888109, -87.636652","Chicago, Illinois",7,195.04,"#11,151"

In [16]:
# reduce columns to what is needed
clean_pop_df = pop_zip_df[["ZIP", "Population", "People/Sq.Mile"]]
clean_pop_df

      ZIP Population People/Sq.Mile
0   60626     59,251      34,520.21
1   60660     47,726      34,193.05
2   60640     74,030      32,103.29
3   60657     66,789      31,204.02
4   60610     47,513      30,110.68
5   60613     50,548      25,857.54
6   60647     98,769      25,372.11
7   60625     91,351      23,681.91
8   60614     65,474      20,838.01
9   60651     77,583      20,738.60
10  60659     39,155      19,859.02
11  60639     92,951      19,854.06
12  60618     98,147      19,640.92
13  60623    108,144      19,007.22
14  60615     45,096      18,936.31
15  60645     44,197      18,576.05
16  60641     73,824      18,163.14
17  60649     54,823      17,870.96
18  60611     26,522      17,783.87
19  60622     76,015      17,489.00
20  60601      5,591      17,101.15
21  60644     59,059      16,705.95
22  60653     34,502      15,629.38
23  60661      4,382      15,455.28
24  60629    113,984      15,212.28
25  60608     92,472      14,180.66
26  60616     47,073      13,948.12
27  60636     51,451      13,581.48
28  60624     45,647      13,574.16
29  60637     57,090      13,045.69
30  60621     47,514      12,891.83
31  60632     87,577      12,507.78
32  60619     74,963      11,991.80
33  60620     85,771      11,439.03
34  60630     54,781      11,213.53
35  60634     74,164      10,611.96
36  60609     79,469      10,286.83
37  60612     37,990      10,195.72
38  60652     39,126       8,425.81
39  60628     87,827       8,286.36
40  60643     52,568       7,845.03
41  60631     28,832       7,754.38
42  60656     27,129       7,590.96
43  60617     96,288       7,168.75
44  60655     29,138       6,541.10
45  60607     15,552       6,428.11
46  60606      1,682       6,140.44
47  60605     12,423       6,027.29
48  60646     27,016       5,741.46
49  60638     55,788       5,010.81
50  60603        378       4,553.49
51  60633     13,262       1,102.54
52  60602         70         810.58
53  60604         78         546.75
54  60654          7         195.04

In [17]:
#write cleaned data to a .csv
clean_pop_df.to_csv('Resources/clean_pop.csv')

In [19]:
# Merging crime and population data
crime_table2_df.set_index('ZIP', inplace = True)
clean_pop_df.set.index('ZIP', inplace = True)


crime_sum_df = pd.merge(crime_table2_df, clean_pop_df,left_index=True, right_index=True, how = 'inner')
crime_sum_df.reset_index('index',drop=False, inplace=True)

crime_sum_df

KeyError: "None of ['ZIP'] are in the columns"

In [ ]:
#write final table to .csv
Crime_Indicies_df.to.csv(Crime_Indicies.csv)