In [1]:
# Dependancies
import pandas as pd
import os
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import psycopg2
import csv

In [2]:
# Loading Files -
chicago_pop_zip_data_to_load = os.path.join("Resources","Chicago_Population_by_Zipcode_2020.csv" )

In [3]:
# read in population/zip data into a df for merging
pop_zip_df = pd.read_csv(chicago_pop_zip_data_to_load, header=0, delim_whitespace=False)
pop_zip_df

,#,ZIP,Location,City,Population,People/Sq.Mile,National Rank
0,1,60626,"42.009340, -87.669902","Chicago, Illinois","59,251","34,520.21",#98
1,2,60660,"41.990561, -87.664706","Chicago, Illinois","47,726","34,193.05",#99
2,3,60640,"41.972347, -87.663982","Chicago, Illinois","74,030","32,103.29",#109
3,4,60657,"41.938964, -87.656811","Chicago, Illinois","66,789","31,204.02",#112
4,5,60610,"41.900034, -87.636967","Chicago, Illinois","47,513","30,110.68",#119
5,6,60613,"41.958302, -87.660698","Chicago, Illinois","50,548","25,857.54",#141
6,7,60647,"41.921117, -87.701899","Chicago, Illinois","98,769","25,372.11",#143
7,8,60625,"41.973081, -87.699751","Chicago, Illinois","91,351","23,681.91",#156
8,9,60614,"41.922667, -87.652537","Chicago, Illinois","65,474","20,838.01",#197
9,10,60651,"41.902029, -87.740432","Chicago, Illinois","77,583","20,738.60",#201
10,11,60659,"41.991923, -87.704608","Chicago, Illinois","39,155","19,859.02",#213
11,12,60639,"41.920639, -87.755793","Chicago, Illinois","92,951","19,854.06",#214
12,13,60618,"41.946755, -87.702861","Chicago, Illinois","98,147","19,640.92",#220
13,14,60623,"41.847079, -87.719446","Chicago, Illinois","108,144","19,007.22",#229
14,15,60615,"41.801502, -87.603332","Chicago, Illinois","45,096","18,936.31",#231
15,16,60645,"42.008406, -87.695793","Chicago, Illinois","44,197","18,576.05",#236
16,17,60641,"41.946466, -87.746971","Chicago, Illinois","73,824","18,163.14",#241
17,18,60649,"41.763484, -87.570411","Chicago, Illinois","54,823","17,870.96",#251
18,19,60611,"41.893024, -87.618998","Chicago, Illinois","26,522","17,783.87",#253
19,20,60622,"41.901894, -87.672630","Chicago, Illinois","76,015","17,489.00",#258
20,21,60601,"41.885805, -87.622911","Chicago, Illinois","5,591","17,101.15",#271
21,22,60644,"41.880614, -87.756903","Chicago, Illinois","59,059","16,705.95",#281
22,23,60653,"41.819722, -87.611809","Chicago, Illinois","34,502","15,629.38",#313
23,24,60661,"41.882458, -87.643946","Chicago, Illinois","4,382","15,455.28",#318
24,25,60629,"41.774690, -87.714185","Chicago, Illinois","113,984","15,212.28",#325
25,26,60608,"41.848647, -87.672320","Chicago, Illinois","92,472","14,180.66",#367
26,27,60616,"41.844977, -87.629846","Chicago, Illinois","47,073","13,948.12",#379
27,28,60636,"41.775708, -87.669011","Chicago, Illinois","51,451","13,581.48",#385
28,29,60624,"41.880048, -87.722352","Chicago, Illinois","45,647","13,574.16",#386
29,30,60637,"41.780673, -87.603500","Chicago, Illinois","57,090","13,045.69",#403
30,31,60621,"41.776404, -87.640058","Chicago, Illinois","47,514","12,891.83",#411
31,32,60632,"41.810213, -87.711761","Chicago, Illinois","87,577","12,507.78",#427
32,33,60619,"41.743383, -87.605811","Chicago, Illinois","74,963","11,991.80",#461
33,34,60620,"41.740481, -87.653749","Chicago, Illinois","85,771","11,439.03",#490
34,35,60630,"41.972071, -87.756569","Chicago, Illinois","54,781","11,213.53",#503
35,36,60634,"41.946189, -87.806117","Chicago, Illinois","74,164","10,611.96",#552
36,37,60609,"41.812680, -87.656935","Chicago, Illinois","79,469","10,286.83",#579
37,38,60612,"41.880500, -87.687967","Chicago, Illinois","37,990","10,195.72",#586
38,39,60652,"41.746234, -87.711953","Chicago, Illinois","39,126","8,425.81",#757
39,40,60628,"41.692200, -87.617859","Chicago, Illinois","87,827","8,286.36",#778
40,41,60643,"41.696894, -87.661375","Chicago, Illinois","52,568","7,845.03",#867
41,42,60631,"41.994948, -87.813225","Chicago, Illinois","28,832","7,754.38",#879
42,43,60656,"41.973544, -87.830234","Chicago, Illinois","27,129","7,590.96",#900
43,44,60617,"41.718172, -87.555846","Chicago, Illinois","96,288","7,168.75",#990
44,45,60655,"41.694722, -87.703687","Chicago, Illinois","29,138","6,541.10","#1,160"
45,46,60607,"41.874503, -87.651322","Chicago, Illinois","15,552","6,428.11","#1,194"
46,47,60606,"41.881988, -87.637329","Chicago, Illinois","1,682","6,140.44","#1,268"
47,48,60605,"41.857651, -87.615592","Chicago, Illinois","12,423","6,027.29","#1,305"
48,49,60646,"41.992931, -87.760278","Chicago, Illinois","27,016","5,741.46","#1,411"
49,50,60638,"41.783650, -87.770407","Chicago, Illinois","55,788","5,010.81","#1,712"
50,51,60603,"41.880614, -87.629311","Chicago, Illinois",378,"4,553.49","#1,983"
51,52,60633,"41.661941, -87.557757","Chicago, Illinois","13,262","1,102.54","#6,069"
52,53,60602,"41.883067, -87.629187","Chicago, Illinois",70,810.58,"#6,855"
53,54,60604,"41.878266, -87.626150","Chicago, Illinois",78,546.75,"#7,918"
54,55,60654,"41.888109, -87.636652","Chicago, Illinois",7,195.04,"#11,151"

In [4]:
pop_zip_df.dtypes

#                  int64
ZIP                int64
Location          object
City              object
Population        object
People/Sq.Mile    object
National Rank     object
dtype: object

In [5]:
# clean dataset to columns needed only

clean_pop_rank_df = pop_zip_df[['ZIP', "Population", "People/Sq.Mile", "National Rank"]]
clean_pop_rank_df

      ZIP Population People/Sq.Mile National Rank
0   60626     59,251      34,520.21           #98
1   60660     47,726      34,193.05           #99
2   60640     74,030      32,103.29          #109
3   60657     66,789      31,204.02          #112
4   60610     47,513      30,110.68          #119
5   60613     50,548      25,857.54          #141
6   60647     98,769      25,372.11          #143
7   60625     91,351      23,681.91          #156
8   60614     65,474      20,838.01          #197
9   60651     77,583      20,738.60          #201
10  60659     39,155      19,859.02          #213
11  60639     92,951      19,854.06          #214
12  60618     98,147      19,640.92          #220
13  60623    108,144      19,007.22          #229
14  60615     45,096      18,936.31          #231
15  60645     44,197      18,576.05          #236
16  60641     73,824      18,163.14          #241
17  60649     54,823      17,870.96          #251
18  60611     26,522      17,783.87          #253
19  60622     76,015      17,489.00          #258
20  60601      5,591      17,101.15          #271
21  60644     59,059      16,705.95          #281
22  60653     34,502      15,629.38          #313
23  60661      4,382      15,455.28          #318
24  60629    113,984      15,212.28          #325
25  60608     92,472      14,180.66          #367
26  60616     47,073      13,948.12          #379
27  60636     51,451      13,581.48          #385
28  60624     45,647      13,574.16          #386
29  60637     57,090      13,045.69          #403
30  60621     47,514      12,891.83          #411
31  60632     87,577      12,507.78          #427
32  60619     74,963      11,991.80          #461
33  60620     85,771      11,439.03          #490
34  60630     54,781      11,213.53          #503
35  60634     74,164      10,611.96          #552
36  60609     79,469      10,286.83          #579
37  60612     37,990      10,195.72          #586
38  60652     39,126       8,425.81          #757
39  60628     87,827       8,286.36          #778
40  60643     52,568       7,845.03          #867
41  60631     28,832       7,754.38          #879
42  60656     27,129       7,590.96          #900
43  60617     96,288       7,168.75          #990
44  60655     29,138       6,541.10        #1,160
45  60607     15,552       6,428.11        #1,194
46  60606      1,682       6,140.44        #1,268
47  60605     12,423       6,027.29        #1,305
48  60646     27,016       5,741.46        #1,411
49  60638     55,788       5,010.81        #1,712
50  60603        378       4,553.49        #1,983
51  60633     13,262       1,102.54        #6,069
52  60602         70         810.58        #6,855
53  60604         78         546.75        #7,918
54  60654          7         195.04       #11,151

In [6]:
clean_pop_rank_df['National Rank'] = clean_pop_rank_df['National Rank'].apply(lambda x: str(x).replace("#",""))
clean_pop_rank_df

C:\Users\karla\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      ZIP Population People/Sq.Mile National Rank
0   60626     59,251      34,520.21            98
1   60660     47,726      34,193.05            99
2   60640     74,030      32,103.29           109
3   60657     66,789      31,204.02           112
4   60610     47,513      30,110.68           119
5   60613     50,548      25,857.54           141
6   60647     98,769      25,372.11           143
7   60625     91,351      23,681.91           156
8   60614     65,474      20,838.01           197
9   60651     77,583      20,738.60           201
10  60659     39,155      19,859.02           213
11  60639     92,951      19,854.06           214
12  60618     98,147      19,640.92           220
13  60623    108,144      19,007.22           229
14  60615     45,096      18,936.31           231
15  60645     44,197      18,576.05           236
16  60641     73,824      18,163.14           241
17  60649     54,823      17,870.96           251
18  60611     26,522      17,783.87           253
19  60622     76,015      17,489.00           258
20  60601      5,591      17,101.15           271
21  60644     59,059      16,705.95           281
22  60653     34,502      15,629.38           313
23  60661      4,382      15,455.28           318
24  60629    113,984      15,212.28           325
25  60608     92,472      14,180.66           367
26  60616     47,073      13,948.12           379
27  60636     51,451      13,581.48           385
28  60624     45,647      13,574.16           386
29  60637     57,090      13,045.69           403
30  60621     47,514      12,891.83           411
31  60632     87,577      12,507.78           427
32  60619     74,963      11,991.80           461
33  60620     85,771      11,439.03           490
34  60630     54,781      11,213.53           503
35  60634     74,164      10,611.96           552
36  60609     79,469      10,286.83           579
37  60612     37,990      10,195.72           586
38  60652     39,126       8,425.81           757
39  60628     87,827       8,286.36           778
40  60643     52,568       7,845.03           867
41  60631     28,832       7,754.38           879
42  60656     27,129       7,590.96           900
43  60617     96,288       7,168.75           990
44  60655     29,138       6,541.10         1,160
45  60607     15,552       6,428.11         1,194
46  60606      1,682       6,140.44         1,268
47  60605     12,423       6,027.29         1,305
48  60646     27,016       5,741.46         1,411
49  60638     55,788       5,010.81         1,712
50  60603        378       4,553.49         1,983
51  60633     13,262       1,102.54         6,069
52  60602         70         810.58         6,855
53  60604         78         546.75         7,918
54  60654          7         195.04        11,151

In [10]:
clean_pop_rank_df['National Rank'] = clean_pop_rank_df['National Rank'].apply(lambda x: str(x).replace(",",''))
clean_pop_rank_df

C:\Users\karla\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      ZIP Population People/Sq.Mile National Rank
0   60626     59,251      34,520.21            98
1   60660     47,726      34,193.05            99
2   60640     74,030      32,103.29           109
3   60657     66,789      31,204.02           112
4   60610     47,513      30,110.68           119
5   60613     50,548      25,857.54           141
6   60647     98,769      25,372.11           143
7   60625     91,351      23,681.91           156
8   60614     65,474      20,838.01           197
9   60651     77,583      20,738.60           201
10  60659     39,155      19,859.02           213
11  60639     92,951      19,854.06           214
12  60618     98,147      19,640.92           220
13  60623    108,144      19,007.22           229
14  60615     45,096      18,936.31           231
15  60645     44,197      18,576.05           236
16  60641     73,824      18,163.14           241
17  60649     54,823      17,870.96           251
18  60611     26,522      17,783.87           253
19  60622     76,015      17,489.00           258
20  60601      5,591      17,101.15           271
21  60644     59,059      16,705.95           281
22  60653     34,502      15,629.38           313
23  60661      4,382      15,455.28           318
24  60629    113,984      15,212.28           325
25  60608     92,472      14,180.66           367
26  60616     47,073      13,948.12           379
27  60636     51,451      13,581.48           385
28  60624     45,647      13,574.16           386
29  60637     57,090      13,045.69           403
30  60621     47,514      12,891.83           411
31  60632     87,577      12,507.78           427
32  60619     74,963      11,991.80           461
33  60620     85,771      11,439.03           490
34  60630     54,781      11,213.53           503
35  60634     74,164      10,611.96           552
36  60609     79,469      10,286.83           579
37  60612     37,990      10,195.72           586
38  60652     39,126       8,425.81           757
39  60628     87,827       8,286.36           778
40  60643     52,568       7,845.03           867
41  60631     28,832       7,754.38           879
42  60656     27,129       7,590.96           900
43  60617     96,288       7,168.75           990
44  60655     29,138       6,541.10          1160
45  60607     15,552       6,428.11          1194
46  60606      1,682       6,140.44          1268
47  60605     12,423       6,027.29          1305
48  60646     27,016       5,741.46          1411
49  60638     55,788       5,010.81          1712
50  60603        378       4,553.49          1983
51  60633     13,262       1,102.54          6069
52  60602         70         810.58          6855
53  60604         78         546.75          7918
54  60654          7         195.04         11151

In [11]:
clean_pop_rank_df.dtypes

ZIP                int64
Population        object
People/Sq.Mile    object
National Rank     object
dtype: object

In [13]:
clean_pop_rank_df['National Rank'] = pd.to_numeric(clean_pop_rank_df['National Rank'])
clean_pop_rank_df.dtypes

C:\Users\karla\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

ZIP                int64
Population        object
People/Sq.Mile    object
National Rank      int64
dtype: object

In [14]:
#write cleaned data to a .csv
clean_pop_rank_df.to_csv('Resources/clean_pop.csv')

In [15]:
# Connect to PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@capstoneproject.cs3wfmxfib5g.us-east-1.rds.amazonaws.com:5432/postgres"

# Create db engine
engine = create_engine(db_string)

# Save dataframe to sql
clean_pop_rank_df.to_sql(name='clean_pop', con=engine, if_exists='replace')