In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import numpy as np
import os
import re
import psycopg2
import time
import csv
from config import db_password

In [2]:
file_path = "./Resources/chipotle_stores.csv"
chipotle_df = pd.read_csv(file_path)
chipotle_df

,state,location,address,latitude,longitude
0,Alabama,Auburn,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328
1,Alabama,Birmingham,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756
2,Alabama,Birmingham,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437
3,Alabama,Birmingham,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279
4,Alabama,Cullman,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220
...,...,...,...,...,...
2624,Wisconsin,Pleasant Prairie,"9370 76th St # B Pleasant Prairie, WI 53158 US",42.565892,-87.921048
2625,Wisconsin,Wauwatosa,"2711 N Mayfair Rd Ste A Wauwatosa, WI 53222 US",43.067723,-88.048222
2626,North Dakota,Fargo,"1204 19th Ave N Fargo, ND 58102 US",46.904247,-96.796618
2627,North Dakota,Fargo,"1680 45th St S Fargo, ND 58103 US",46.855337,-96.861416
2628,Wyoming,Cheyenne,"1508 Dell Range Blvd Cheyenne, WY 82009 US",41.160718,-104.805699

In [3]:
chipotle_df['split'] = chipotle_df['address'].str.split()
chipotle_df

,state,location,address,latitude,longitude,split
0,Alabama,Auburn,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,"[346, W, Magnolia, Ave, Auburn,, AL, 36832, US]"
1,Alabama,Birmingham,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,"[300, 20th, St, S, Birmingham,, AL, 35233, US]"
2,Alabama,Birmingham,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,"[3220, Morrow, Rd, Birmingham,, AL, 35235, US]"
3,Alabama,Birmingham,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,"[4719, Highway, 280, Birmingham,, AL, 35242, US]"
4,Alabama,Cullman,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220,"[1821, Cherokee, Ave, SW, Cullman,, AL, 35055,..."
...,...,...,...,...,...,...
2624,Wisconsin,Pleasant Prairie,"9370 76th St # B Pleasant Prairie, WI 53158 US",42.565892,-87.921048,"[9370, 76th, St, #, B, Pleasant, Prairie,, WI,..."
2625,Wisconsin,Wauwatosa,"2711 N Mayfair Rd Ste A Wauwatosa, WI 53222 US",43.067723,-88.048222,"[2711, N, Mayfair, Rd, Ste, A, Wauwatosa,, WI,..."
2626,North Dakota,Fargo,"1204 19th Ave N Fargo, ND 58102 US",46.904247,-96.796618,"[1204, 19th, Ave, N, Fargo,, ND, 58102, US]"
2627,North Dakota,Fargo,"1680 45th St S Fargo, ND 58103 US",46.855337,-96.861416,"[1680, 45th, St, S, Fargo,, ND, 58103, US]"
2628,Wyoming,Cheyenne,"1508 Dell Range Blvd Cheyenne, WY 82009 US",41.160718,-104.805699,"[1508, Dell, Range, Blvd, Cheyenne,, WY, 82009..."

In [4]:
chipotle_df['ZIP'] = chipotle_df['split'].str[-2]
chipotle_df

,state,location,address,latitude,longitude,split,ZIP
0,Alabama,Auburn,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,"[346, W, Magnolia, Ave, Auburn,, AL, 36832, US]",36832
1,Alabama,Birmingham,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,"[300, 20th, St, S, Birmingham,, AL, 35233, US]",35233
2,Alabama,Birmingham,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,"[3220, Morrow, Rd, Birmingham,, AL, 35235, US]",35235
3,Alabama,Birmingham,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,"[4719, Highway, 280, Birmingham,, AL, 35242, US]",35242
4,Alabama,Cullman,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220,"[1821, Cherokee, Ave, SW, Cullman,, AL, 35055,...",35055
...,...,...,...,...,...,...,...
2624,Wisconsin,Pleasant Prairie,"9370 76th St # B Pleasant Prairie, WI 53158 US",42.565892,-87.921048,"[9370, 76th, St, #, B, Pleasant, Prairie,, WI,...",53158
2625,Wisconsin,Wauwatosa,"2711 N Mayfair Rd Ste A Wauwatosa, WI 53222 US",43.067723,-88.048222,"[2711, N, Mayfair, Rd, Ste, A, Wauwatosa,, WI,...",53222
2626,North Dakota,Fargo,"1204 19th Ave N Fargo, ND 58102 US",46.904247,-96.796618,"[1204, 19th, Ave, N, Fargo,, ND, 58102, US]",58102
2627,North Dakota,Fargo,"1680 45th St S Fargo, ND 58103 US",46.855337,-96.861416,"[1680, 45th, St, S, Fargo,, ND, 58103, US]",58103
2628,Wyoming,Cheyenne,"1508 Dell Range Blvd Cheyenne, WY 82009 US",41.160718,-104.805699,"[1508, Dell, Range, Blvd, Cheyenne,, WY, 82009...",82009

In [5]:
chipotle_df.drop(columns=['split'],inplace=True)
chipotle_df

,state,location,address,latitude,longitude,ZIP
0,Alabama,Auburn,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,36832
1,Alabama,Birmingham,"300 20th St S Birmingham, AL 35233 US",33.509721,-86.802756,35233
2,Alabama,Birmingham,"3220 Morrow Rd Birmingham, AL 35235 US",33.595581,-86.647437,35235
3,Alabama,Birmingham,"4719 Highway 280 Birmingham, AL 35242 US",33.422582,-86.698279,35242
4,Alabama,Cullman,"1821 Cherokee Ave SW Cullman, AL 35055 US",34.154134,-86.841220,35055
...,...,...,...,...,...,...
2624,Wisconsin,Pleasant Prairie,"9370 76th St # B Pleasant Prairie, WI 53158 US",42.565892,-87.921048,53158
2625,Wisconsin,Wauwatosa,"2711 N Mayfair Rd Ste A Wauwatosa, WI 53222 US",43.067723,-88.048222,53222
2626,North Dakota,Fargo,"1204 19th Ave N Fargo, ND 58102 US",46.904247,-96.796618,58102
2627,North Dakota,Fargo,"1680 45th St S Fargo, ND 58103 US",46.855337,-96.861416,58103
2628,Wyoming,Cheyenne,"1508 Dell Range Blvd Cheyenne, WY 82009 US",41.160718,-104.805699,82009

In [6]:
chipotle_df.dtypes

state         object
location      object
address       object
latitude     float64
longitude    float64
ZIP           object
dtype: object

In [9]:
# save as a new CSV file for future us

chipotle_df.to_csv('Resources/new_chipotle_data.csv')

In [10]:
# Connect to PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@capstoneproject.cs3wfmxfib5g.us-east-1.rds.amazonaws.com:5432/postgres"

# Create db engine
engine = create_engine(db_string)

# Save dataframe to sql
chipotle_df.to_sql(name='chipotle_data', con=engine, if_exists='replace')